Tema 4/Actividad2/ejer6.dtd

<!ELEMENT inventario (lapiz|cuaderno|boligrafo)+>
    <!ELEMENT lapiz (dureza?)>
    <!ELEMENT dureza (#PCDATA)>
    <!ELEMENT cuaderno (numhojas,estilo)>
    <!ELEMENT numhojas (#PCDATA)>
    <!ELEMENT estilo (#PCDATA)>
    <!ELEMENT boligrafo (precio,color?)>
    <!ELEMENT precio (#PCDATA)>
    <!ELEMENT color (#PCDATA)>